@model OnlineBookWebsite.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN_13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN_13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallThumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallThumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Small)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Small)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Large)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Large)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraLarge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraLarge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
